.container {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    color: white;
}

.pidData {
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputs p {
    display: inline;
    width: 15px;
}

.inputs input {
    margin-left: 15px;
}

.initialData {

}